.z-blockQuote {
  // background-color: #cccccc;
  // padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1em;
  margin-left: 0px;
  border-left: 3px solid #eee;
  color: #8C8C8C;
}
.z-activeButton {
  background-color: #e8e8e8;
}
