.RichEditor-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e8e8e8;
}

.toolbar-area {
  padding: 4px 8px 3px;
  height: 39px;
  width: auto;
  display: flex;
  align-items: center;
  border-left: 1px solid #e8e8e8;
}
.toolbar-area:first-child {
  border-left: none;
}

.header-area {
  /* width: 80px; */
}

.ant-select {
  width: 100%;
}
